block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
		//- favicon block start
		link(rel="shrtcut icon" type="image/ico" href="img/favicon.ico")
		//- favicon block end

		link(rel='stylesheet' href='css/libs.css')
		link(rel='stylesheet' href='css/app.css')

		//- <!--[if lt IE 9]>
		//- script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		//- <![endif]-->
		block head

	body

		include common/svg-use
		include ./modules/modal/modal
		include ./components/input/input

		.page-wrap.js-page-wrap
			include ./parts/header
			block content
			include ./parts/footer

		-
			let input1 = {
				caption: 'Представьтесь, пожалуйста',
				type: 'text',
				value: 'Иванов Иван',
				postfix: '',
				placeholder: '',
				name: 'name',
				require: true
			};

			let input2 = {
				caption: 'Телефон',
				type: 'tel',
				value: '',
				postfix: '',
				placeholder: '',
				name: 'phone',
				require: true
			};

		+modal('getCall')
			.container
				.row.justify-content-center
					.col-lg-6
						form.modal-container
							.modal__close.js-modal-close
								+svg-use('close-modal')
							.modal-container__title Перезвонить вам?
							.row.modal-container__fields
								.col-md-6
									+input(input1)
								.col-md-6.mt-3.mt-md-0
									+input(input2)
								.col-md-6.mt-4.mt-md-5
									button.btn.btn_warning.btn_full(type="submit") Отправить
							.row.modal-container__success
								.col-12
									p.modal-container__desc Спасибо за&nbsp;Ваше обращение! Мы&nbsp;рассмотрим Вашу заявку в&nbsp;ближайшее время и&nbsp;перезвоним по&nbsp;указанному номеру.
								.col-md-6.mt-4.mt-md-5
									button.btn.btn_warning.btn_full.js-modal-close(type="button") Ок, спасибо

		+modal('types')(data-slider="true")
			.container
				.row.justify-content-center
					.col-12
						.modal-container.modal-container_no-space
							.modal__close.js-modal-close
								+svg-use('close-modal')
							.main-slider__wrapper
								.swiper-container.main-slider.js-main-swiper-modal
									.swiper-wrapper
										-
											let length = 0;

										while length < 6
											.swiper-slide.main-slider__slide(data-slider=length++)
												if ( length == 1 )
													picture.main-slider__slide-bg
														img(src="img/main-banner/main-banner0.jpg", alt="")
													.row
														.col-xl-10
															h1.main-slider__title.title Типография ФОТОПРО Типография ФОТОПРО
															.main-slider__desc Оперативная печать и&nbsp;изготовление выпускных <br>альбомов для родителей, выпускников <br>и&nbsp;профессиональных фотографов в&nbsp;любом количестве Оперативная печать и&nbsp;изготовление выпускных <br>альбомов для родителей, выпускников <br>и&nbsp;профессиональных фотографов в&nbsp;любом количестве
												else
													picture.main-slider__slide-bg
														img(src="img/main-banner/main-banner1.jpg", alt="")
													.row
														.col-xl-10
															h2.main-slider__title.title Типография ФОТОПРО
															.main-slider__desc Оперативная печать и&nbsp;изготовление выпускных <br>альбомов для родителей, выпускников <br>и&nbsp;профессиональных фотографов в&nbsp;любом количестве
									.swiper-pagination
								.swiper-button-prev.main-slider__btn
									+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
								.swiper-button-next.main-slider__btn
									+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')

		block scripts
	script(src='js/libs.js' defer)
	script(src='js/app.js' defer)