.input {
    color: inherit;
    display: block;
    position: relative;

    input, textarea {
        border: 0;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        padding-bottom: 4px;
        border-bottom: 2px solid $border-case2;
        transition: border-color .3s ease;
        width: 100%;
        font: inherit;

        &::placeholder {
            color: $subtitle;
        }

        &:focus {
            border-color: $warning;
            outline: none;
        }
    }

    textarea {
        resize: none;
    }

    &_postfix {
        input {
            padding-right: 32px;
        }
    }

    span {
        position: absolute;
        bottom: 6px;
        right: 0;
        font-size: 16px;
        line-height: 19px;
        color: $caption;
        font-weight: 500;
    }
}

@import './modificators/xl-half';