.tab {
    &_design {
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;

            img {
                display: block;
                max-width: 100%;
                flex: 0 0 auto;
            }
        }

        .swiper-button {
            position: absolute;
            top: 50%;
            margin: 0;

            &.swiper-button-prev {
                left: 0;
                transform: translateY(-50%);
            }

            &.swiper-button-next {
                right: 0;
                transform: translateY(-50%) scaleX(-1);
            }
        }
    }

    &__container {
        padding: 0 60px 20px;
        position: relative;
    }
}