mixin prefooter-card(item)
    .prefooter-card
        .prefooter-card__header
            img(src=item.img, alt=item.title)
        .prefooter-card__content
            h3.prefooter-card__title!= item.title
            p.prefooter-card__desc!= item.desc
            a(href="#").prefooter-card__btn.btn.btn_thin!= item.btnText