.tab-list {
    $root: #{&};

    display: flex;
    position: relative;
    border-bottom: 2px solid $border;
    margin-bottom: 40px;

    @include respondTo(max-md) {
        max-width: 100vw;
        overflow: auto;
        margin-left: -12px;
        margin-right: -12px;
        border-bottom: 0;
    }

    &_high-gap {
        margin-bottom: 64px;

        @include respondTo(max-md) {
            margin-bottom: 40px;
        }
    }

    &_checkmars {
        border-bottom: 0;

        #{$root}__item {
            flex: 0 0 auto;
            padding: 0;
            transition: color .3s ease;
            cursor: pointer;
            user-select: none;
        }
    }

    &__item {
        flex: 0 0 auto;
        padding: 10px 16px 11px;
        transition: color .3s ease;
        cursor: pointer;
        user-select: none;

        &.is-active {
            color: $subtitle;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
    }

    &__underline {
        position: absolute;
        bottom: -2px;
        height: 2px;
        z-index: 1;
        background-color: $warning;
        transition: left .3s ease, width .3s ease;

        @include respondTo(max-md) {
            bottom: 0;
        }
    }
}