.tab {
    &__content {
        display: none;

        &.is-active {
            display: block;
        }
    }

    &__shelf {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        img {
            display: block;
            width: 100%;
        }
    }
}

@import './-list';
@import './modificators/main-page';