-
    let menuItems = [
        {
            href: '/albums.html',
            title: 'Виды альбомов',
            isActive: true
        },
        {
            href: '/disigns.html',
            title: 'Варианты дизайна'
        },
        {
            href: '#',
            title: 'Онлайн-редактор'
        },
        {
            href: '/questions.html',
            title: 'Вопросы и ответы'
        },
        {
            href: '/contacts.html',
            title: 'Контакты'
        },
    ]

header.header.js-header
    .header__wrapper.container
        .header__logo.logo
            a(href="/").logo__icon
                img(src="./img/logo.png", alt="logo")
            .logo__braker
            h2.logo__title Выпускные альбомы для вузов, <br>школ и&nbsp;детских садов
            .header__toggler
                .toggler.js-header-toggler
                    .toggler__row
        .header__contacts
            .header__address 
                a(href="tel:+73422032300") +7 (342) <strong>203 23 00</strong>
                | г. Пермь, ул. Крупской, 75
            .header__btn
                button.btn.btn_warning Перезвонить вам?
        .header__menu
            ul.header-menu
                each item in menuItems
                    li.header-menu__item(class=`${item.isActive ? 'is-active' : ''}`)
                        a(href=item.href)!= item.title
            .header__menu-footer
                .header__address 
                    a(href="tel:+73422032300") +7 (342) <strong>203 23 00</strong>
                    | г. Пермь, ул. Крупской, 75
                .header__btn
                    button.btn.btn_warning Перезвонить вам?
    .header__darkness.js-header-darkness