extends ../_template
block variables
	- var title = 'Виды альбомов'

block content
	include ../modules/card-album/card-album
	-
		let data = [
			{
				slides: [
					'./img/albums/albums-card.jpg',
				],
				title: 'Название альбома',
				price: '1 234 ₽',
				desc: 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.',
				list: [
					'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
					'глянцевые листы, плотность 190гр',
					'от 10 стр.',
				],
			},
			{
				slides: [
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
				],
				title: 'Название альбома',
				caption: 'Стоимость альбома',
				price: '1 234 ₽',
				desc: 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.',
				list: [
					'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
					'глянцевые листы, плотность 190гр',
					'от 10 стр.',
				]
			},
			{
				slides: [
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
				],
				title: 'Название альбома',
				caption: 'Стоимость альбома',
				price: '1 234 ₽',
				desc: 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.',
				list: [
					'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
					'глянцевые листы, плотность 190гр',
					'от 10 стр.',
				]
			},
			{
				slides: [
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
				],
				title: 'Название альбома',
				caption: 'Стоимость альбома',
				price: '1 234 ₽',
				desc: 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.',
				list: [
					'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
					'глянцевые листы, плотность 190гр',
					'от 10 стр.',
				]
			},
			{
				slides: [
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
				],
				title: 'Название альбома',
				caption: 'Стоимость альбома',
				price: '1 234 ₽',
				desc: 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.',
				list: [
					'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
					'глянцевые листы, плотность 190гр',
					'от 10 стр.',
				]
			},
			{
				slides: [
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
					'./img/albums/albums-card.jpg',
				],
				title: 'Название альбома',
				caption: 'Стоимость альбома',
				price: '1 234 ₽',
				desc: 'Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.',
				list: [
					'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
					'глянцевые листы, плотность 190гр',
					'от 10 стр.',
				]
			},
		];

	main
		article.space-article.article-dirty.container
			h1.title.space-page Виды альбомов
			.row
				.col-12
					each item in data
						+card-album(item).space-album-cards