extends ../_template
block variables
	- var title = 'Расчитать стоимость'


block content
	include ../components/input/input
	include ../components/checkmark/checkmark

	-
		let inputData = {
			caption: '',
			type: 'number',
			value: '31',
			postfix: 'чел.'
		};

		let inputDataFooter = {
			caption: 'Укажите количество',
			type: 'number',
			value: '31',
		};

		let inputAside1 = {
			caption: 'Представьтесь, пожалуйста',
			type: 'text',
			value: 'Иванов Иван',
			requier: true,
			name: 'name'
		};

		let inputAside2 = {
			caption: 'Ваш E-mail',
			type: 'email',
			value: 'Ivanov@ma|',
			requier: true,
			name: 'email'
		};

		let inputAside3 = {
			caption: 'Номер телефона',
			type: 'tel',
			value: '',
			requier: true,
			name: 'phone'
		};

		let types = [
			{
				img: 'img/types-img.png',
				title: 'Эконом'
			},
			{
				img: 'img/types-img.png',
				title: 'Стандарт'
			},
			{
				img: 'img/types-img.png',
				title: 'Стандарт-<br>Flatbook as dasd asd as d'
			},
			{
				img: 'img/types-img.png',
				title: 'Премиум'
			},
			{
				img: 'img/types-img.png',
				title: 'Премиум-<br>Flatbook'
			},
			{
				img: 'img/types-img.png',
				title: 'На пружине'
			},
			{
				img: 'img/types-img.png',
				title: 'Эконом'
			},
			{
				img: 'img/types-img.png',
				title: 'Стандарт'
			},
			{
				img: 'img/types-img.png',
				title: 'Стандарт-<br>Flatbook'
			},
		];

	main
		article.space-article.article-dirty.container
			h1.title.space-page Варианты дизайна
			.row
				.col-xl-8
					.calculate
						.calculate__header.calculate-header
							.calculate__title Выберите вид альбома
							.calculate-types
								each item, index in types
									.calculate-types__item.js-choice-type(data-base-lists="5" data-base-turn="2" data-turn-price="30")
										if ( index == 0 )
											ul.d-none.js-choice-type-list
												li(data-base-price="200" ) Тип 1
										else if ( index == 1 )
											ul.d-none.js-choice-type-list
												li(data-base-price="200" ) Тип 1
												li(data-base-price="210" ) 123123Тип 2
										else
											ul.d-none.js-choice-type-list
												li(data-base-price="200" ) Тип 1
												li(data-base-price="210" ) Тип 2
												li(data-base-price="220" ) Тип 3
										.calculate-types__wrapper
											.calculate-types__image
												img(src=item.img, alt=item.title)
												.calculate-types__icon
													+svg-use('checked')
											.calculate-types__title!= item.title
						.calculate__addings.calculate-addings.js-choice-type-addings
							.calculate-addings__title.calculate__title Выберите формат альбома
							.row.js-choice-type-output

						.calculate__content.calculate-content
							.calculate__title Выберите параметры альбомов
							.calculate__row
								.calculate__row-header
									.calculate__subtitle Количество выпускников в&nbsp;альбоме
								.calculate__slider
									.range.js-range(data-step="1" data-min="10" data-max="50" data-pips="5").js-calc-peoples.js-calc-change
							.calculate__row
								.calculate__row-header
									.calculate__subtitle Количество человек на&nbsp;одном развороте
								.calculate__slider
									.range.js-range(data-step="1" data-min="1" data-max="6" data-pips="2").js-calc-peoples-on-turn.js-calc-change
							.calculate__row
								.calculate__row-header
									.calculate__subtitle Количествово страниц с&nbsp;фотоисторией
								.calculate__slider
									.range.js-range(data-step="1" data-min="0" data-max="10" data-pips="3").js-calc-history-turns.js-calc-change
							.calculate__row.calculate-footer
								.calculate-footer__left-side
									.calculate-footer__subtitle.calculate__subtitle Количество альбомов
									.calculate-footer__input
										+input(inputDataFooter).js-calc-albums-length.js-calc-change
								.calculate-footer__right-side
									.calculate-alert
										.calculate-alert__icon
											+svg-use('persantage')
										.calculate-alert__content
											.calculate-alert__title Внимание! Действуют скидки на альбомы!
											.calculate-alert__desc Процент вашей скидки <strong>равен количеству альбомов</strong> в заказе, максимальная скидка 20%
				.col-xl-4.mt-5.mt-xl-0
					.calculate-aside
						.calculate-aside__header
							.calculate-aside__title Ваш альбом
							.calculate-aside__list.calculate-aside-list
								.calculate-aside-list__item
									span Вид альбома: 
									p.js-calc-type-output Выберите тип
								.calculate-aside-list__item
									span Количество страниц: 
									p.js-calc-lists-output --
								.calculate-aside-list__item
									span Количество альбомов: 
									p.js-calc-albums-output --
							.calculate-aside__pricer.calculate-aside-pricer
								.calculate-aside-pricer__item
									.calculate-aside-pricer__title Цена за альбом: 
									.calculate-aside-pricer__price
										span.js-calc-price ---
										p.js-calc-discount-price ---
								.calculate-aside-pricer__item
									.calculate-aside-pricer__title Скидка: 
									.calculate-aside-pricer__price
										p.js-calc-discount-persantage-output --
								.calculate-aside-pricer__item
									.calculate-aside-pricer__title Итоговая стоимость альбомов: 
									.calculate-aside-pricer__price
										p.js-calc-discount-summ-output ----
						form.calculate-aside__content.js-form-validate(novalidate)
							.calculate-aside__title Оформить заказ
							.calculate-aside__alert.calculate-aside-alert
								.calculate-aside-alert__icon
									+svg-use('alert')
								.calculate-aside-alert__text Для оформления заказа, необходимо создать макеты альбома.
							.calculate-aside__desc Воспользуйтесь <a href="#">онлайн-редактором</a> с готовыми макетами или загрузите свои макеты альбома <br><a href="#">Скачать PSD-шаблоны альбомов</a>
							.calculate-aside__file.calculate-aside-file.js-calculate-file
								.calculate-aside-file__drop-area.js-calculate-file-droparea
									p.calculate-aside-file__title Прикрепить файлы
										span Один архив: zip, rar
									label.calculate-aside-file__label
										input.calculate-aside-file__input.js-calculate-file-input(type="file" accept=".zip,.rar")

								.calculate-aside-file__result
									.caption Прикрепленные файлы:
									.calculate-aside-file__file-row
										.calculate-aside-file__name.js-calculate-file-name
										.calculate-aside-file__close.js-calculate-file-remover
											+svg-use('close')

							.calculate-aside__addings.js-calculate-file-addings
								.calculate-aside__input
									+input(inputAside1).js-form-validate-input
								.calculate-aside__input
									+input(inputAside2).js-form-validate-input
								.calculate-aside__input
									+input(inputAside3).js-form-validate-input
								.calculate-aside__btn
									button.btn.btn_full.btn_warning(type="submit") Оформить заказ