extends ../_template
block variables
	- var title = 'Варианты дизайна'

block content
	include ../modules/card-album/card-album
	include ../components/checkmark/checkmark

	-
		let typeAlbums = [
			{
				text: 'Все виды альбомов',
				checked: true
			},
			{
				text: 'Эконом',
				checked: false
			},
			{
				text: 'Стандарт',
				checked: true
			},
			{
				text: 'Стандарт-Flatbook',
				checked: false
			},
			{
				text: 'Премиум',
				checked: true
			},
			{
				text: 'Премиум-Flatbook',
				checked: false
			},
			{
				text: 'На пружине',
				checked: false
			},
			{
				text: 'На пружине',
				checked: false
			},
			{
				text: 'На пружине',
				checked: false
			},
		]

	main.tab.tab_design
		article.space-article.article-dirty.container
			h1.title.space-page Варианты дизайна
			.row
				.col-12
					ul.tab-list.tab-list_high-gap
						li.tab-list__item.is-active
							a(href="#").tab-list__title Детский сад
						li.tab-list__item
							a(href="#").tab-list__title Начальная школа
						li.tab-list__item
							a(href="#").tab-list__title Выпускные классы, ВУЗ
						.tab-list__underline
				.col-12
					h2.subtitle.subtitle_reg.mb-2.mb-md-3 Вид альбомов
				.col-12
					.tab-list.tab-list_checkmars.mb-0.swiper-container.js-type-albums-swiper
						.swiper-wrapper
							each item, index in typeAlbums
								.tab-list__item.swiper-slide.js-sort
									+checkmark(item)(data-id=`${index === 0 ? 'all' : index}`)
						.swiper-button-set
							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow-thin', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow-thin', '')
				.col-12.mt-3
					button(type="button").btn.btn_thin.js-sort-accept Применить фильтр

		article
			each item in typeAlbums
				.block-disign
					.container
						.swiper-header
							.swiper-header__icon
								img(src="./img/albums/album-icon.png", alt="")
							h2.swiper-header__title!= item.text
						.tab__container
							.tab__shelf
								img(src="./img/shelf.svg", alt="")
							.swiper-container.js-swiper-container
								.swiper-wrapper
									-
										let lengthSlides0 = 0;
									while lengthSlides0 < 10
										.swiper-slide
											a(href="/album-inside.html").album-preview
												picture.album-preview__image
													img(data-src="img/albums/album.jpg" alt=`album${lengthSlides0++}`).swiper-lazy
													.swiper-lazy-preloader
												h3.album-preview__text Название дизайна
								.swiper-button-set
									.swiper-button-prev.swiper-button
										+svg-use('slider-arrow-thin', '')
									.swiper-button-next.swiper-button
										+svg-use('slider-arrow-thin', '')