extends ../_template
block variables
  - var title = ''

block content

  body
  
  include ../parts/header  

  main

    section

      h1 Hello World!

      +svg-use('egg', 'egg')

  include ../parts/footer