.map {
    position: relative;

    iframe {
        @include respondTo(max-md) {
            height: 300px;
        }
    }

    &__aside {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        right: 0;

        @include respondTo(max-xl) {
            position: static;
            transform: none;

            .form-mini {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}